SERVER_PORT=
SERVER_HOSTNAME=

# postgres - auth & user scores
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_SCHEMA=-

# redis - leaderboards cache
REDIS_HOST=
REDIS_POST=
REDIS_PASSWORD=

# pgadmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# auth
JWt_SECRET=